src/META-INF/
src/log4j.properties
war/WEB-INF/deploy
war/WEB-INF/images
war/WEB-INF/lib
war/WEB-INF/classes/**
war/WEB-INF/classes/**/*
war/asciiflow/
.gwt/
war/WEB-INF/appengine-generated
war/WEB-INF/appengine-generated/**
