div {
	font-family: sans-serif;
}

body {
	align: center;
	text-align: center;
}

.frame {
	padding: 0px 10px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

div.header {
	text-align: left;
}

.body {
}

.footer {
	text-align: right;
}

.canvas div div {
	font-family: monospace;
	display: inline;
	border: 0px;
	cursor: pointer;
	position: relative;
	top: -2px;
	height: 15px;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.selected {
	background-color: highlighttext;
}

.drawing {
	background-color: highlight;
}

div.hover {
	background-color: highlight;
}

.canvas div {
	height: 15px;
	display: block;
	border-spacing: 0px;
}

.canvas {
	border-color: #eeeeee;
	border-style: solid;
	display: inline-block;
}

.canvas-focus {
	display: inline-block;
}

div.tool-panel {
	background-color: #eeeeee;
}

.tool-button {
	display: block;
	padding: 2px;
	cursor: pointer;
}

.export-textarea {
	cols: 1;
	rows: 1;
	width:95%;
	height: 90%;
	overflow: hidden;
	resize: none;
	margin-top: 3px;
}

.export-close {
	display: inline;
}

.gwt-Button {
	display: block;
	box-sizing: content-box;
}
.menu-panel {
	background-color: #777777;
	display: block;
	margin-right: 0px;
}

.menu-panel .gwt-Button {
	display: inline;
	padding: 4px;
}

.menu-panel .gwt-HTML {
	display: inline;
}

.selected-tool {
	background: highlight;
}

.export-panel {
	transition: width 1s, height 1s;
	-moz-transition: width 1s, height 1s;
	-webkit-transition: width 1s, height 1s;
	-o-transition: width 1s, height 1s;
	text-align: center;
}

.export-right {
	text-align: right;
}

.export-right div {
	display: inline;
	padding-right: 5px;
}

.info-panel {
	color: #aaaaaa;
}

div.gwt-PopupPanel {
	border-color: #888888;
}
