@external .gwt-HTML {
}

@external .gwt-Button {
}

div {
	font-family: monospace;
}
button,input {
	font-family: monospace;
	font-size: 11px;
}

body {
	align: center;
	text-align: center;
}

.frame {
	padding: 0px 10px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.body {
	
}

.logo {
	padding-bottom: 10px;
	padding-left: 4px;
	display: inline-block;
}

.logo pre {
	margin-top: -10px;
	margin-bottom: 0px;
}

.header {
	text-align: left !important;
}

.footer {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.footer div {
	display: inline-block;
}

.hover {
	background-color: #b5d5ff;
}

.selected {
	background-color: #777 !important;
}

.drawing {
	background-color: #b5d5ff;
}

.canvas div {
	cursor: pointer;
	position: absolute;
	height: 14px;
	width: 8px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.canvas div:hover {
	background-color: #b5d5ff;
}

.canvas div:active {
	background-color: #FFF;
}

.canvas {
	position: relative;
	border-color: #EEE;
	border-style: solid;
	display: inline-block;
}

.canvasFocus {
	display: inline-block;
	outline: 0px;
}

.toolPanel {
	background-color: #EEE !important;
}

.toolButton {
	display: block;
	padding: 2px 2px 0px 2px;
	cursor: pointer;
}

.menuPanel {
	display: block;
	padding-bottom: 2px;
}

.menuPanel .gwt-Button {
	display: inline;
}

.menuPanel .gwt-HTML {
	display: inline;
}

.selectedTool {
	background: #b5d5ff;
}

.menuWidget {
	transition: width 1s, height 0.5s;
	-moz-transition: width 1s, height 0.5s;
	-webkit-transition: width 1s, height 0.5s;
	-o-transition: width 1s, height 0.5s;
	text-align: center;
}

.exportTextArea {
	cols: 1;
	rows: 1;
	width: 95%;
	height: 70px;
	overflow: hidden;
	resize: none;
	margin-top: 3px;
	z-index: -100;
	font-family: monospace;
}

.importTextArea {
	cols: 1;
	rows: 1;
	width: 95%;
	height: 70px;
	overflow: hidden;
	resize: none;
	margin-top: 3px;
	z-index: -100;
	font-family: monospace;
}

.exportRight {
	text-align: right;
}

.exportRight div {
	display: inline;
	padding-right: 5px;
}

.infoPanel {
	color: #444;
	padding: 2px;
}

a:visited {
	color: blue;
	text-decoration: none;
}

.facebookWidget {
	display: inline-block;
	float: right;
	width: 51px;
}

.twitterWidget {
	display: inline-block;
	float: right;
	width: 60px;
}

.plusOneWidget {
	display: inline-block;
	float: right;
	width: 60px;
}

.inline {
	display: inline;
}

.block {
	display: block;
}

div.loadingBackground {
	width: 100%;
	height: 100%;
	background-color: #FAFAFA;
	position: relative;
}

.loadingImage {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -110px;
	z-index: 1000;
}

.activityMenu {
	font-size: 16px;
	margin-left: 20px;
	margin-right: 20px;
	width: 100px;
	display: inline-block;
	vertical-align: top;
}

.activityMenu div {
	cursor: pointer;
	vertical-align: top;
	outline: 0px;
	color: #555;
}

.selectedActivity {
	font-weight: bold;
}

.aboutContent {
	width: 750px;
}

.galleryPreviewWidget {
	margin-bottom: 20px;
}